extends layout

block content
  .notification.is-primary.has-text-centered
    |   #{data.carbs - data.fiber} Total Carbs
  table.table.is-striped.is-fullwidth   
    tbody
      tr
        td Calories
        |               
        td #{data.calories}
      |             
      tr
        td Fat
        |               
        td #{data.fat}
      |             
      tr
        td Protein
        |               
        td #{data.protein}
      |             
      tr
        td Carbs
        |               
        td #{data.carbs}
      |             
      tr
        td Fiber
        |               
        td #{data.fiber}

  p 
    i 
      small Date: 
      b #{data.date}

